
/* колір основного тексту #212121 */
/* додатковий колір сірий #757575 */
/* колір лого синій #2196F3 чорний #000000 */
/* акцент і емейл #2196F3 */
/* білий колір */
/* Боді білий #F5F5F5 */
/* Другий колір фона світло сірий #F5F4FA */
/* focus колір #2196F3  */

:root {
    --background-color: #FFFFFF;
    --color-logo-black: #000000;
    --primary-color-text: #212121;
    --accent-color: #2196F3;
    --button-color-active: #188CE8;
    --second-color: #757575;
    --white-color-text: #FFFFFF;
    --backgraund-color-button: #F5F4FA;
    --background-hero: #C4C4C4;
    --background-hero-gradient: rgba(47, 48, 58, 0.4);
    --background-our-team: #F5F4FA;
    --addres-footer: rgba(255, 255, 255, 0.6);
    --border-filter: #EEEEEE;
    --border-header: #ECECEC;
    --color-our-clients: #AFB1B8;
    --gradient-social: rgba(255, 255, 255, 0.1);
    --background-footer: #2F303A;
    --gradient-project: rgba(33, 150, 243, 0.9);
}


header {
    border-bottom: 1px solid var(--border-header);
}


/* Боді */

body {
    background-color: var(--background-color);
    color: var(--primary-color-text);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}



/* Лого */

.logo {
    display: block;
    color: var(--color-logo-black);
    font-family: Raleway, sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo--blue {
    color: var(--accent-color);
}

.site-nav__margin {
    margin-right: 93px;
}


/* Сайт nav */


.main-nav {
    display: flex;
    height: 80px;
}

.site-nav {
    display: flex;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--white-color-text);
    color: var(--primary-color-text);
    
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:focus,
.site-nav__link:hover {
    color: var(--accent-color);
}

.site-nav__link--current {
    position: relative;
    color: var(--accent-color);
}

.site-nav__link--current::after {
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__list {
    display: flex;
}

.contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contact__link {
    display: flex;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;
    background-color: var(--white-color-text);
    color: var(--second-color);

    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:focus,
.contact__link:hover {
    color: var(--accent-color);
}

.contact__item:not(:last-child) {
    margin-right: 30px;
}

.contact__icon {
    margin-right: 10px;
    fill: currentColor;
}


/* index.html */

/* Герой */


.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-color: var(--background-hero);
    background-image: linear-gradient(
        to right,
        var(--background-hero-gradient),
        var(--background-hero-gradient)),
        url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}


.hero__title {
    margin: auto;
    margin-bottom: 30px;
    max-width: 696px;

    text-transform: uppercase;
    color: var(--white-color-text);

    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.hero__button {
    background-color: var(--accent-color);
    color: var(--white-color-text);
    border: none;
    font-family: inherit;
    border-radius: 4px;
    border-color: transparent;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
    background-color: var(--button-color-active);
}

/* Секція feature-list */

.feature-list {
    padding-bottom: 94px;
    padding-top: 94px;
}


.feature-list__title  {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;

    margin-bottom: 10px;
}

.feature-list__text {
    color: var(--second-color);
    font-size: 14px;
    line-height: 1.71;
}

.feature-list__item {
    width: 270px;
}

.feature-list__svg {
    height: 120px;
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--background-our-team);
}

.feature-list__list {
    display: flex;
    gap: 30px;
}

/* Секція section-work */

.section-work {
    padding-bottom: 94px;
}

.section-work__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
}

.section-work__list {
    display: flex;
    gap: 30px;
}

.section-work__item {
    position: relative;
}

.section-work__species {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 27px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white-color-text);
}

/* Секція our-team*/

.our-team  {
    background-color: var(--background-our-team);
    padding-top: 94px;
    padding-bottom: 94px;

}

.our-team__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
}


.our-team__item {
    background-color: var(--background-color);
    display: block;
    text-align: center;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team__list {
    display: flex;
    gap: 30px;
}


.our-team__team {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
}

.our-team__profession {
    color: var(--second-color);
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}

.our-team__content {
    padding-top: 30px;
    padding-bottom: 30px;
}


/* Social network */


.list-social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.list-social__link {
    display: flex;
    fill: var(--color-our-clients);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social__link:hover,
.list-social__link:focus {
    background-color: var(--accent-color);
    fill: var(--white-color-text);
}


/*  regular clients  */


.regular-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.regular-clients__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
}

.regular-clients__link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    fill: var(--color-our-clients);
    border: 1px solid var(--color-our-clients);
    border-radius: 4px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients__link:hover,
.regular-clients__link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}


.regular-clients__list {
    display: flex;
    justify-content: space-between;
}

/* Футер */

footer {
    background-color: var(--background-footer);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-bottom {
    display: flex;
    flex-basis: calc(100% / 2 - 30px);
    gap: 30px;
    align-items: baseline;

}

.footer-bottom__left {
    display: flex;
    align-items: baseline;
    flex-basis: calc(100% / 2 - 15px);
    gap: 70px;
}

.logo__footer--white {
    margin-bottom: 20px;
    color: var(--white-color-text);
}

.left-footer .item + .item {
    margin-top: 9px;
}

.address-company {
    width: 231px;
}

.address-company .link {
    color: var(--addres-footer);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-company .map {
    color: var(--white-color-text);
}

.address-company .link:hover,
.address-company .link:focus {
    color: var(--accent-color);
}

.join .title {
    text-transform: uppercase;
    color: var(--white-color-text);
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
}


.join {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 206px;
}

.join .social-net {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--white-color-text);
    background-color: var(--gradient-social);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-net:hover,
.social-net:focus {
    background-color: var(--accent-color);
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subscription .title {
    text-transform: uppercase;
    color: var(--white-color-text);
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
}

.subscription input {
    width: 358px;
    height: 50px;
    margin: 0px;
    padding: 15px 16px;
    font-size: 16px;
    line-height: 1.25;
    color: var(--white-color-text);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription input:hover,
.subscription input:focus {
    border-color: var(--accent-color);
}

.subscription input:hover::placeholder,
.subscription input:focus::placeholder {
    color: var(--accent-color);
}

.subscription .mail-label {
    margin-right: 12px;
}

.send-email {
    display: flex;
}

.subscription input::placeholder {
    color: var(--addres-footer);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.subscription .btn-send {
    display: flex;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 28px 10px 28px;
    background-color: var(--accent-color);
    color: var(--white-color-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    border-color: transparent;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription .title-send {
    margin-right: 10px;
}

.subscription .btn-send:hover,
.subscription .btn-send:focus {
    background-color: var(--button-color-active);
}


/*  */
/* portfolio.html */
/*  */

.projects .button {
    padding: 6px 22px;

    font-family: inherit;
    color: var(--primary-color-text);
    background-color: var(--backgraund-color-button);
    border-radius: 4px;
    border-color: transparent;
    border: none;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.projects .button:focus,
.projects .button:hover {
    background-color: var(--accent-color);
    color: var(--white-color-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


.projects .name-project {
    color: var(--primary-color-text);

    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.projects .type-project {
    color: var(--second-color);
    font-size: 16px;
    line-height: 1.87;
}

.projects .filter {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}

.projects .date-project {
    border-left: 1px solid var(--border-filter);
    border-right: 1px solid var(--border-filter);
    border-bottom: 1px solid var(--border-filter);

    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.projects .link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.projects .link:hover,
.projects .link:focus {
    box-shadow: 0px 1px 1px
    rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.projects .item {
    display: flex;
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.projects .thumb {
    position: relative;
    overflow: hidden;
}

.text-project {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    color: var(--white-color-text);
    background-color: var(--gradient-project);
    font-size: 18px;
    line-height: 1.55;
    padding: 63px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .link:hover .text-project,
.projects .link:focus .text-project {
    transform: translateY(0%);
}

/* Modal */

.backdrop {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    padding: 40px;
    background-color: var(--white-color-text);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}


.modal-close {
    position: absolute;
    display: flex;
    top: 14px;
    right: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    align-items: center;
    justify-content: center;
    background-color: var(--white-color-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    fill: var(--accent-color);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.form-title {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-field + .form-field {
    margin-top: 10px;
}

.form-field .form-input {
    margin: 0px;
    padding: 11px 12px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .modal-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    display: inline-block;
    fill: var(--primary-color-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .form-input:hover,
.form-field .form-input:focus {
    border-color: var(--accent-color);
}

/* .form-field .form-input:focus + .modal-icon {
    fill: var(--accent-color);
} */

.form-field:focus-within .modal-icon,
.form-field:hover .modal-icon {
    fill: var(--accent-color);
}


.form-field label {
    margin-bottom: 4px;
}

.form-field textarea {
    height: 120px;
    margin: 0px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea:hover::placeholder,
.form-field textarea:focus::placeholder {
    color: var(--accent-color);
}

.form-field textarea:hover,
.form-field textarea:focus {
    border-color: var(--accent-color);
}

.form-comment {
    margin-bottom: 20px;
}

.license-label {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.form-field label {
    color: var(--second-color);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.license-check label {
    color: var(--second-color);
    font-size: 14px;
    line-height: 1.71;
}

.license-check .input-check {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.link-license {
    position: relative;
    text-decoration: none;
    color: var(--accent-color);
}

.link-license::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
}

.button-modal {
    display: flex;
    justify-content: center;
}

.button-modal button {
    padding: 10px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-color-text);
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal button:hover,
.button-modal button:focus {
    background-color: var(--button-color-active);
}

.icon-check {
    display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-color-text);
    border-radius: 2px;
}

.input-check:checked + .icon-check {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}
